<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">Performance App</a>
        </div>

        <ul class="nav navbar-nav">
            <li><a [routerLink]="['/users']" routerLinkActive="active">Users</a></li>
            <li><a routerLink="/teams" routerLinkActive="active">Teams</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/register" routerLinkActive="active" *ngIf="!auth.loggedIn()">Signup</a></li>
            <li><a routerLink="/login" routerLinkActive="active" *ngIf="!auth.loggedIn()">Login</a></li>
            <li><a (click)="auth.logOut()" *ngIf="auth.loggedIn()">{{ auth.getUser()?.name }} - Logout</a></li>
        </ul>
    </div>
</nav>