<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">Performance App</a>
        </div>

        <ul class="nav navbar-nav">
            <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
            <li><a routerLink="/register" routerLinkActive="active">Signup</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/login" routerLinkActive="active" *ngIf="!auth.loggedIn()">Login</a></li>
            <li *ngIf="auth.loggedIn()">Logged in as: {{ auth.getUser()?.name }}</li>
            <li><a (click)="auth.logOut()" *ngIf="auth.loggedIn()">Logout</a></li>
        </ul>
    </div>
</nav>